# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
temp/
output/
history/
assets/

# Model and data
models/
*.pt
*.pth
*.h5
*.onnx

# Config
*.yaml.backup
